<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Konyvter</title>
</head>
<body>
  <!-- Nav -->
  <nav class="navbar navbar-expand-lg navbar-light book-bg1">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <i class="bi bi-book"></i> Főoldal
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div *ngIf="isLoggedIn()">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/myadvertisements">Hirdetéseim</a>
            </li>
          </div>
          <li class="nav-item">
            <div *ngIf="isLoggedIn()">
              <a class="nav-link" aria-current="page" href="/newadvertisement">Hirdetésfeladás</a>
            </div>
            <div *ngIf="!isLoggedIn()">
              <a class="nav-link" aria-current="page" href="/newadvertisement" data-bs-toggle="modal" data-bs-target="#modal">Hirdetésfeladás</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Részletes keresés
            </a>
          </li>
        </ul>
        <div class="d-flex">
          <div *ngIf="isLoggedIn()">
            <a class="nav-link" aria-current="page" href="#">
              <i class="bi bi-gear"></i>
            </a>
          </div>
          <div *ngIf="!isLoggedIn()">
            <a class="btn book-bg2" aria-current="page" data-bs-toggle="modal" data-bs-target="#modal">
              Bejelentkezés <i class="bi bi-box-arrow-in-right"></i>
            </a>
          </div>
          <div *ngIf="isLoggedIn()">
            <a class="btn book-bg2" aria-current="page" (click)="logout()">
              Kijelentkezés <i class="bi bi-box-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--Nav vége-->

  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Bejelentkezés</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
                  <label for="user" class="form-label">Felhasználónév</label>
                  <input type="text" class="form-control" id="user" formControlName="user">
            </div>
            <div class="mb-3">            
                  <label for="exampleInputPassword1" class="form-label">Jelszó</label>
                  <input type="password" class="form-control" 
                  id="exampleInputPassword1"
                  formControlName="pass">
            </div>
            <div class="modal-footer">
              <button type="button" (click)="regpage()" class="btn btn-secondary" data-bs-dismiss="modal">Regisztráció</button>
              <button type="submit" class="btn book-bg2" data-bs-dismiss="modal">Belépés</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal vége -->

  <div class="container">

    <router-outlet></router-outlet>

  </div>

  <!-- Footer -->
  <footer class="footer text-center text-lg-start book-bg1">
    <div class="text-center p-3">
      © 2022 Copyright:
      <a class="text-dark" href="https://github.com/Gergosz-2000/konyvter">TheRealGerriii&Gergosz</a>
    </div>
  </footer>
  <!-- Footer vége-->
</body>
</html>