body{
    font-family: Georgia, serif;
}
.navbar-brand{
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
}
.settingsIcon{
    max-width: 60%;
    max-height: 60%;
}
.settingsIcon:hover{
    transform: scale(1.1);
    transition: .5s;
}
.navbar .btn{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.footer {
    margin-top: 20px;
    width: 100%;
}