body{
    font-family: Georgia, serif;
}
.navbar-brand{
    font-family: Georgia, serif;
    font-weight: bold;
}
.bi-gear{
    color: black;
}
.navbar .btn{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.footer {
    margin-top: 20px;
    width: 100%;
}