/* 
#dbc38c	(219,195,140)
#ffffff (255,255,255)
#f2e5bb	(242,229,187)
#c3af89	(195,175,137)
#9f8d73	(159,141,115) 
*/
body{
    background-color: #ffffff;
}
.book-bg1{
    background-color: #f2e5bb;
}
.book-bg2{
    background-color: #dbc38c;
}
.book-bg3{
    background-color: #c3af89	;
}
.book-bg4{
    background-color: #9f8d73	;
}
.book-c1{
    color: #f2e5bb;
}
.book-c2{
    color: #dbc38c;
}
.book-c3{
    color: #c3af89	;
}
.book-c4{
    color: #9f8d73	;
}