
<h2 class="mt-4"><ins>Hírdetés szerkesztése</ins></h2>
<div class="mt-2">
  <form class="row g-3" [formGroup]="updateadForm" (ngSubmit)="updateAdvertisement();" *ngFor="let book of bookArray">
    <h4>1.Könyv adatai</h4>
    <div class="col-md-6">
      <label for="title" class="form-label">Könyv címe</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="bookArray[0].title" formControlName="title">
      <span *ngIf="updateadForm.controls['title'].invalid && updateadForm.controls['title'].touched">A könyv címe kötelező</span>
    </div>
    <div class="col-md-6">
      <label for="writer" class="form-label">Író</label>
      <input type="text" class="form-control" id="writer" [(ngModel)]="bookArray[0].writer" formControlName="writer">
      <span *ngIf="updateadForm.controls['writer'].invalid && updateadForm.controls['writer'].touched">Az író kötelező</span>
    </div>
    <div class="col-md-6">
      <label for="publisher" class="form-label">Kiadó</label>
      <input type="text" class="form-control" id="publisher" [(ngModel)]="bookArray[0].publisher" formControlName="publisher">
    </div>
    <div class="col-md-6">
      <label for="release" class="form-label">Megjelenési év</label>
      <input type="text" class="form-control" id="release" formControlName="release" [(ngModel)]="bookArray[0].release">
      <span *ngIf="updateadForm.controls['release'].invalid && updateadForm.controls['release'].touched">A megjelenési év kötelező (szám, -5000 és 2022 között)</span>
    </div>
    <div class="col-md-4">
      <label for="language" class="form-label">Nyelv</label>
      <select id="language" class="form-select" [(ngModel)]="bookArray[0].language" formControlName="language">
        <option selected>magyar</option>
        <option>angol</option>
        <option>német</option>
        <option>spanyol</option>
        <option>egyéb...</option>
      </select>
    </div>
    <div class="col-12">
      <p>Műfajok</p>
        <div class="form-check form-check-inline" *ngFor="let genre of genres">
          <input class="form-check-input" id={{genre.id}} type="checkbox" (change)="checkboxController(genre.genre)" [checked]="checker(genre.genre)">
          {{genre.genre}}
        </div>
    </div>
    <h4>2.Hirdetrés adatai adatai</h4>
    <div class="col-md-6">
        <label for="adtitle" class="form-label">Hirdetés címe</label>
        <input type="text" class="form-control" id="adtitle" [(ngModel)]="ad.adtitle" formControlName="adtitle">
        <span *ngIf="updateadForm.controls['adtitle'].invalid && updateadForm.controls['adtitle'].touched">A hirdetés címe kötelező</span>
    </div>
    <div class="col-md-6">
        <label for="price" class="form-label">Ár</label>
        <input type="text" class="form-control" id="price" [(ngModel)]="ad.price" formControlName="price">
        <span *ngIf="updateadForm.controls['price'].invalid && updateadForm.controls['price'].touched">Az ár megadása kötelező (szám, maximum 10 karakter)</span>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Hirdetési kép feltöltése</label>
        <input class="form-control" type="file" id="formFile" accept="image/jpeg, image/png, image/jpg" (change)="handleFileInput($event)" formControlName="image">
        <span *ngIf="updateadForm.controls['image'].invalid && updateadForm.controls['image'].touched">A képfeltöltés kötelező</span>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Leírás</label>
        <textarea class="form-control" id="description" rows="5" [(ngModel)]="ad.description" formControlName="description"></textarea>
        <span *ngIf="updateadForm.controls['description'].invalid && updateadForm.controls['description'].touched">A leírás kötelező, minimum 20 karakterben</span>
      </div>
    <div class="col-12">
      <button type="submit" class="btn book-bg2" [disabled]="clicked" [disabled]="!updateadForm.valid">Hirdetés létrehozása</button>
    </div>
  </form>
</div>
