<div class="onePage">
<form [formGroup]="filterForm" (ngSubmit)="search()">
<div class="row justify-content-center mt-5">
  <div class="col-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Keresés..." aria-describedby="button-addon2" formControlName="adtitle">
      <button class="btn book-bg2" type="submit" id="button-addon2" [disabled]="!filterForm.valid"><i class="bi bi-search"></i></button>
    </div>
  </div>
</div>
<div class="row justify-content-center mt-1">
  <div class="col-8 ">
    <div *ngIf="filter" class="filterbox">
      <div class="row mt-1">
        <div class="col-md-6 row mb-1">
          <div class="col-3">
            <label for="title" class="col-form-label">Könyv:</label>
          </div>
          <div class="col-9">
            <input type="text" id="title" class="form-control" formControlName="title">
          </div>
        </div>
        <div class="col-md-6 row mb-1">
          <div class="col-3">
            <label for="title" class="col-form-label">Író:</label>
          </div>
          <div class="col-9">
            <input type="text" id="title" class="form-control" formControlName="writer">
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-md-6 row mb-1">
          <div class="col-3">
            <label for="title" class="col-form-label">Ár:</label>
          </div>
          <div class="col-9">
            <input type="text" id="title" class="form-control" placeholder="maximum" formControlName="max_price">
          </div>
        </div>
        <div class="col-md-6 row mb-1">
          <div class="col-3">
            <label for="title" class="col-form-label">Műfaj:</label>
          </div>
          <div class="col-9">
            <select class="form-select" formControlName="genres">
              <option selected></option>
              <option *ngFor="let genre of genres">{{genre.genre}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="filterlinkbox mt-3">
      <a (click)="filterShow()" class="btn filter book-bg2"><i class="bi bi-sliders"></i></a>
    </div>
  </div>
</div>
</form>
<div class="row mt-3 justify-content-center" *ngFor="let ad of ads | paginate:{itemsPerPage: 5, currentPage:page}">
  <div class="col-8">
    <a class="nav-link text-dark" (click)="navigateAd(ad.id)">
      <div class="row card-body block-card position-relative">
        <div class="col-sm-5 box">
          <img class="" src="{{server}}{{ad.picturepath}}" alt="Hirdetési kép">
        </div>
        <div class="col-sm-7">
          <h4 class="card-title text-break"><b>{{ad.adtitle}}</b></h4>
          <p class="card-text text-break ">{{getBookTitle(ad.book_id)}}</p>
          <p class="card-text"><b>Ár: {{ad.price}} Ft</b></p>
        </div>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{ad.sawcounter}} <i class="bi bi-eye"></i>
        </span>
      </div>
    </a>
  </div>
</div>
</div>
<div class="mt-3" id="pagination">
  <pagination-controls 
    (pageChange)="changePage($event)"
    previousLabel="Előző"
    nextLabel="Következő"
  ></pagination-controls>
</div> 
